    /* Geral */
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Bebas Neue', sans-serif;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }


    html {
        background-color: #000;
    }

    body::-webkit-scrollbar {
        display: none;
    }


    /* Cabeçalho */
    .container {
        max-width: 1280px;
        margin: auto;
    }


    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    header {
        width: 100%;
        padding: 42px 15%;
        position: fixed;
        top: 0;
        left: 0;
        transition: .5s;
    }


    header.rolagem{
        background-color: #e3b910;
        padding: 20px 4%;

    }


    header.rolagem a{
        color: #000;
    }


    header ul {
        list-style-type: none;
    }


    header ul li {
        display: inline-block;
        margin: 0 69px;
        font-size: 20px;
    }


    header ul li a {
        color: #000;
        text-decoration: none;
    }


    .btn-contato button{
        width: 140px;
        height: 50px;
        border: 0;
        font-size: 18px;
        background-color: #d1aa0c;
        border: 2px solid #000;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: .2s;
    }


    .banner {
        height: 100vh;
        background-image: url(../img/fundoprovisorio.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .banner h1 {
        font: 4em;
        font-size: 130px;
        color: #fff;
    }


    .banner h1 span {
        color: #d1aa0c;
        font-size: 130px;
    }


    #icone {
        height: 100px;
        margin-right: 0.5rem;
        background-size: cover;
    }
        /* Fim do Cabeçalho */


        /* Título */
    h3 {
        font-size: 70px;
        align-items: center;
        position: absolute;
        justify-content: center;
        margin-left: 40%;
        color: white;
        border: #d1aa0c;
    }
        /* Fim título */


        /* Imagens do Projeto */
    .imagens {
        display: inline-block;
        align-items: center;
        width: 600px;
        height: 450px;
        padding-bottom: 10px;
        margin: 15px;
        object-fit: cover;
        position: relative;
        margin-top: 70px;
    }
        /* Fim das imagens */


        /* Breve introdução (p) */
    .paragrafo {
        width: 1800px;
        margin-left: 2%;
        height: auto;
        background-color: #fff;
        border: solid 3px #d1aa0c;
        border-radius: 10px;
        padding: 10px;
        z-index: 30
    }

    p {
        color: black;
        text-align: center;
        font-size: 30px;
        z-index: 30
    }
        /* Breve introdução (p) */


        /* Carrossel */
    .carousel {
            position: relative;
            max-width: 600px;
            margin: 0 auto;
            overflow: hidden;
    }
        
    .carousel-images {
            display: flex;
            transition: transform 0.5s ease;
    }
        
    .carousel-images img {
            width: 100%;
            height: auto;
            object-fit: cover;
    }
        
    button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            font-size: 24px;
            color: white;
            cursor: pointer;
    }
        
    .prev {
            left: 10px;
    }
        
    .next {
            right: 10px;
    }
        /* Fim do Carrossel */


        /* Lista ordenada */
    .listaordem {
        width: 1200px;
        height: auto;
        padding-bottom: 20px;
        align-items: center;
        text-align: center;
        margin-left: 19%;
        background-color: #fff;
        border-radius: 6px;
        border: solid 3px #e3b910;
        position: relative;
        margin-top: 10px;
    }

    .listaordem li {
        font-size: 40px;
    }
        /* Fim Lista ordenada */


        /* Rodapé */
    footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: relative;
            bottom: 0;
            width: 100%;
    }
        
    